* {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.6;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
p{
  color: #999;
  margin: 0;
}
p.content-padded {
  padding: 10px;
}
.container,
.container * {
  box-sizing: border-box;
}

.container {
  width: 375px;
  height: 627px;
  border: 1px solid #999;
}

.tab-content-item > div{
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}
.red,
.blue,
.yellow {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.red {
  background-color: #e74c3c;
}
.yellow {
  background-color: #f39c12;
}
.blue {
  background-color: #2980b9;
}
