body {
  margin: 0;
}
.container,
.container * {
  box-sizing: border-box;
}

.container {
  width: 375px;
  height: 627px;
  border: 1px solid #999;
}

.red,
.blue,
.yellow {
  margin: 10px;
  height: 300px;
}

.red {
  background-color: #e74c3c;
}
.yellow {
  background-color: #f39c12;
}
.blue {
  background-color: #2980b9;
}
