.react-tab-view,
.react-tab-view * {
  box-sizing: border-box;
}

.react-tab-view {
  height: 100%;
  padding-top: 50px;
  position: relative;
}

.tab-title-items {
  position: absolute;
  top: 0;
  display: table;
  width: 100%;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='100%' y2='100%' style='stroke:#e5e5e5;stroke-width:1'/></svg>") no-repeat 0 0;
}

.indicator {
  position: absolute;
  height: 3px;
  background-color: #c0392b;
  top: 47px;
  transition: all .2s ease;
}

.tab-title-item {
  display: table-cell;
  width: 1%;
  height: 100%;
  color: #999;
  text-align: center;
  vertical-align: middle;
}

.tab-title-item.active{
  color: #c0392b;
}

.tab-content-items {
  height: 100%;
  transition: all .2s ease;
}

.tab-content-item{
  height: 100%;
  display: block;
  float: left;
}
